<h1>ngx-reactive-forms-visualizer</h1>

<div>
  <form [formGroup]="exampleForm" id="main-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name: </mat-label>
      <input
        matInput
        placeholder="name"
        [formControl]="exampleForm.controls.name"
      />
    </mat-form-field>
    <mat-error
      *ngIf="exampleForm.controls.name.errors?.['required'] && exampleForm.dirty"
    >
      Name is required
    </mat-error>
  </form>
</div>

<div id="example-prejson">
  <b>{{ snippet }}</b>
  <p>
    When working on reactive forms in Angular, a common way to visualize
    reactive forms is by using
    <code>{{ snippet }}</code>
  </p>
  <pre>{{ exampleForm.value | json }}</pre>
</div>

<p>
  This library is about taking that idea of displaying the form's data in
  templates to the next level.
</p>

<div id="example-librarys-prejson">
  <b>Here is the same code but in the library's most basic component</b>
  <lib-basic-pre [formGroupInput]="exampleForm"></lib-basic-pre>
</div>

<div id="example-librarys-validationstatustree">
  <b>Validation Status Tree</b>
  <lib-validation-status-tree
    [formGroupElement]="exampleForm"
  ></lib-validation-status-tree>
</div>
