<h1>ngx-reactive-forms-visualizer</h1>

<p>{{ count() | json }}</p>
<p>{{ doubleCount() | json }}</p>

<p>{{ countObj() | json }}</p>
<p>{{ doubleCountObj() | json }}</p>
<button mat-raised-button color="primary" (click)="updateValue()">Update</button>

<div>
    <app-test />
</div>
<div>
    <p>Type here to interact with examples</p>
    <form [formGroup]="exampleForm" id="main-form">
        <mat-form-field>
            <mat-label>Name: </mat-label>
            <input matInput placeholder="name" [formControl]="exampleForm.controls.name" />
        </mat-form-field>
        <mat-error *ngIf="exampleForm.controls.name.errors?.['required'] && exampleForm.touched">
            Name is required
        </mat-error>
    </form>
</div>

<mat-divider />

<div id="examples">
    <h2>Examples</h2>

    <div id="example-prejson" class="example-section">
        <mat-card>
            <mat-card-header>
                <mat-card-title
                    ><code>{{ snippet }}</code></mat-card-title
                >
                <mat-card-subtitle>
                    When working on reactive forms in Angular, a common way to visualize reactive forms is by using
                    <code>{{ snippet }}</code></mat-card-subtitle
                >
            </mat-card-header>

            <mat-card-content>
                <pre>{{ exampleForm.value | json }}</pre>

                <p>
                    This library is about taking that idea of displaying the form's data in templates to the next level.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div id="example-librarys-prejson" class="example-section">
        <mat-card>
            <mat-card-header>
                <mat-card-title><code>lib-basic-pre</code></mat-card-title>
                <mat-card-subtitle>Here is the same code but in the library's most basic component</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <lib-basic-pre [formGroupInput]="exampleForm" />
            </mat-card-content>
        </mat-card>
    </div>

    <div id="example-librarys-validationstatustree" class="example-section">
        <mat-card>
            <mat-card-header>
                <mat-card-title><code>lib-validation-status-tree</code></mat-card-title>
                <mat-card-subtitle>Each form field's status and the form's overall status</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <lib-validation-status-tree [formGroupElement]="exampleForm" />
            </mat-card-content>
        </mat-card>
    </div>
</div>
